# 开发时打包生成的目录结构
client/dist/
client/build/
client/main.spec

# 打安装包使用的配置文件
client/install.nsi
client/屏幕视奸器/

# 个人历史数据
client/history_data/
client/config/

# 开发时让AI生成的供作者自己查看的文件
client/translation/

# python自己产生的缓存文件
client/__pycache__/

# 开发者随笔日记
diary/

# 屏蔽env文件
.env*
!.env.example