#=====================email发送配置======================
# 邮箱发送者
EMAIL_SENDER=123456789@qq.com
# 邮箱授权码
EMAIL_PASSWORD=abcdefgh

#=====================MySQL配置======================
MYSQL_USER=root
MYSQL_PASSWORD=userPassWord